/.vscode
/dist
/node_modules
/yarn-error.log
/build
/worker
/out
/docs
/cypress/videos
/cypress/screenshots
/backup

/liftosaur-cdk/*.d.ts
/dist-lambda
/dist-plannerhighlighter
/lambda/node_modules
/template.yaml
/playwright-report
/test-results

# CDK asset staging directory
.cdk.staging
cdk.out
cloudflare.*
