<div class="docs-nav">
  <div class="docs-nav-left">
    <a href="/" class="docs-nav-logo">
      <img src="/images/logo.svg" alt="Liftosaur Logo" />
      <span>Liftosaur</span>
    </a>
  </div>
  <div class="docs-nav-right">
    <nav>
      <ul>
        <li><a href="/">App</a></li>
        <li><a href="/about">About</a></li>
        <li><strong>Documentation</strong></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/program">Program Builder</a></li>
      </ul>
    </nav>
  </div>
</div>