<div class="docs-nav">
  <div class="docs-nav-left">
    <a href="/" class="docs-nav-logo">
      <img src="/images/logo.svg" alt="Liftosaur Logo" />
      <span>Liftosaur</span>
    </a>
  </div>
  <div class="docs-nav-right">
    <nav>
      <ul>
        <li><a href="/about">About</a></li>

        {% if title == "Documentation" %}
          <li><a href="/blog">Blog</a></li>
        {% else %}
          <li><strong>Blog</strong></li>
        {% endif %}

        {% if title == "Documentation" %}
          <li><strong>Docs</strong></li>
        {% else %}
          <li><a href="/docs">Docs</a></li>
        {% endif %}

        <li><a href="/planner">Web Editor</a></li>
      </ul>
    </nav>
  </div>
</div>
