<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXUpdatesEnabled</key>
	<true/>
	<key>EXUpdatesURL</key>
	<string>https://stage.liftosaur.com/api/updates/manifest</string>
	<key>EXUpdatesCheckOnLaunch</key>
	<string>ALWAYS</string>
	<key>EXUpdatesLaunchWaitMs</key>
	<integer>0</integer>
	<key>EXUpdatesScopeKey</key>
	<string>com.liftosaur.www</string>
	<key>EXUpdatesRuntimeVersion</key>
	<string>1.0</string>
	<key>EXUpdatesHasEmbeddedUpdate</key>
	<true/>
	<key>EXUpdatesRequestHeaders</key>
	<dict>
		<key>expo-channel-name</key>
		<string>production</string>
	</dict>
	<key>EXUpdatesCodeSigningCertificate</key>
	<string>-----BEGIN CERTIFICATE-----
MIIDUTCCAjmgAwIBAgIUHLl2tunW/kUgZ2/XE72t+3fZoV0wDQYJKoZIhvcNAQEL
BQAwJDEiMCAGA1UEAwwZTGlmdG9zYXVyIFVwZGF0ZXMgU2lnbmluZzAeFw0yNjA1
MTMyMTAxMjJaFw0zNjA1MTAyMTAxMjJaMCQxIjAgBgNVBAMMGUxpZnRvc2F1ciBV
cGRhdGVzIFNpZ25pbmcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDB
VeJA/LN6p8TAlRNUHTJj3M0P92ScnpW0nlCDyGPntC3PDO52DfiT4nOKPXtDwZEy
99PI4lUl5aEATV9pVqwbrGS+aRbVToF8GFnBfODnGSkgDFfQzuY2MRuovvpGAWp1
mE094/z8QGIqY3f7rBYeoSJiLLS2WeUUquAilwYnaDtUcsg8zSognDO5LcenFalk
WRMAilEAVY79lsoy4YJi+6x9gnXXNHr90zNx21+OJxBWiGYp1zUn5Fo9n+Whwwds
V+oQWcMiKyLZ5Y6/v24v1a1MAzJa4+V2+VKp51cj3isjoEXOH7lWkS85MrWrERVl
T74HV10TyMSYiGAvxAe7AgMBAAGjezB5MB0GA1UdDgQWBBTij6TcRuDfnUrU2lJK
E1qY7NdcxDAfBgNVHSMEGDAWgBTij6TcRuDfnUrU2lJKE1qY7NdcxDAPBgNVHRMB
Af8EBTADAQH/MA4GA1UdDwEB/wQEAwIHgDAWBgNVHSUBAf8EDDAKBggrBgEFBQcD
AzANBgkqhkiG9w0BAQsFAAOCAQEAQ/jAH5lhx0U0amJ7kBCJ/Oxj/AIROQQqjlij
SFxSLk6ISBJ3O4GdHvyRGlVBGVKAXa90gOlZZ86yPG1+xkScKx8rSCCuOtYqqbRr
U1Ay7iCzHBl0bCsG4csean5bnoeEorWLnkjNs6iXqky3kFsfjCpJFQwaJ1RrLL3E
BiDw26hvNggLnwpjAGwi9OMXa1Qo4CoMK7Dz9rNYcpy7FHN9X3sXNNjFhDOylU0a
sgxkvn64/GZy9Y8o1A5+qUWZ6N9rFU/Fw30Yhpo0g4DMXqdBBb+CPQf9OmriQXDt
pIUWwHOqm45uFmSi7fzX5KbgOugdAFb1uhz+uaxATSs93rnAHQ==
-----END CERTIFICATE-----</string>
	<key>EXUpdatesCodeSigningMetadata</key>
	<dict>
		<key>alg</key>
		<string>rsa-v1_5-sha256</string>
		<key>keyid</key>
		<string>main</string>
	</dict>
</dict>
</plist>
