/* purgecss start ignore */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Arial, sans-serif;
  color: #718096;
}

a {
  color: #2b6cb0;
}

.top-nav {
  padding: 48px 12px;
  text-align: right;
  display: flex;
  align-items: center;
}

.top-nav-menu {
  flex: 1;
  padding-right: 1.5em;
}

.top-nav-menu,
.top-nav-menu li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

.top-nav-menu li {
  margin: 0 1em;
  line-height: 1.5em;
}

.top-nav-social,
.top-nav-social li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

.top-nav-social li {
  margin: 0;
}

.top-nav-social a span {
  visibility: hidden;
}

.logo-facebook,
.logo-twitter,
.logo-reddit {
  width: 1.5em;
  height: 1.5em;
  text-indent: -9999px;
  display: inline-block;
  padding: 0.5em;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.logo-facebook {
  background-image: url(/images/logo-facebook.svg);
}

.logo-reddit {
  background-image: url(/images/logo-reddit.svg);
}

.logo-twitter {
  background-image: url(/images/logo-twitter.svg);
}

.hero {
  background-color: #fafafa;
  padding: 0 36px;
}

.hero-wave {
  background-image: url(/images/desktop-wave-hero.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 18%;
  width: 100%;
}

.hero-section {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1em;
}

.hero-content {
  flex: 5;
  padding: 10px 24px;
}

.hero-content-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.hero-video {
  flex: 2;
  padding: 0 24px;
}

.hero-phone {
  position: relative;
  width: 270px;
  height: 520px;
  margin: 0 auto;
}

.content-cta {
  margin-top: 20px;
}

.content-cta-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-cta-row-bottom {
  margin-top: -1rem;
}

.content-cta-button {
  white-space: nowrap;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1;
  display: inline-block;
}

.content-cta-button-sub {
  font-size: 0.8rem;
  font-style: italic;
}

.content-cta-or {
  margin-left: 13px;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.content-cta-android a {
  display: block;
}

.content-cta-android img {
  width: 13rem;
  height: 5rem;
}

@media (max-width: 940px) {
  .hero-section {
    font-size: 0.8em;
  }

  .footer-content-cta {
    font-size: 0.8em;
  }
}

@media (max-width: 820px) {
  .hero-section {
    font-size: 0.7em;
  }

  .footer-content-cta {
    font-size: 0.7em;
  }
}

@media (max-width: 780px) {
  .content-cta-android img {
    width: 13rem;
    height: 5rem;
  }
}

@media (max-width: 600px) {
  .content-cta {
    flex-direction: column;
  }

  .content-cta-or {
    padding-bottom: 0;
  }
}

.hero-phone-frame {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url(/images/phone-frame.svg) no-repeat;
  background-size: cover;
  width: 270px;
  height: 487px;
}

.hero-phone video {
  position: absolute;
  top: 42px;
  width: 250px;
  left: 11px;
  height: 432px;
}

a.hero-title {
  color: #1a202c;
  text-decoration: none;
}

.hero-title img {
  width: 7.75em;
  height: 7.75em;
  vertical-align: middle;
}

.hero-title h1 {
  display: inline;
  font-size: 3.75em;
  font-weight: bold;
  font-family: Poppins;
  color: #1a202c;
  vertical-align: middle;
  margin-left: 16px;
  line-height: 2em;
}

.hero-content p {
  font-size: 1.5em;
  line-height: 1.55em;
  padding-top: 1.5em;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em;
  line-height: 1.7;
}

.intro h2 {
  font-family: Poppins;
  font-size: 3em;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 0.5em;
  color: #1a202c;
}

.intro-more {
  margin-top: 1em;
}

.intro pre {
  text-align: center;
}

.programs {
  max-width: 800px;
  margin: 5em auto 0;
  padding: 0 2em;
  line-height: 1.7;
}

.programs h2 {
  font-family: Poppins;
  font-size: 2.5em;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 0.5em;
  color: #1a202c;
}

.programs ul {
  font-size: 1.3em;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 3em;
}

.programs-more {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  font-style: italic;
}

.code {
  text-align: left;
}

@media (max-width: 780px) {
  .intro pre[class*="language-"] {
    font-size: 0.8em;
  }
}

.features {
  font-size: 16px;
  padding-top: 8em;
}

.features-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em;
}

.features h2 {
  font-family: Poppins;
  font-size: 3em;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 0.5em;
  color: #1a202c;
}

.features-right,
.features-left {
  margin: 4em 0;
  display: flex;
}

.features-right {
  flex-direction: row-reverse;
}

.features-image {
  flex: 3;
}

.features-left .features-image {
  text-align: right;
}

.features-image-content {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 445px;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.1);
}

.features-image-content img {
  width: 100%;
  height: 100%;
}

.features-content {
  flex: 4;
  padding-top: 100px;
}

.features-content h4 {
  font-family: Poppins;
  font-size: 2.5em;
  font-weight: bold;
  color: #1a202c;
  line-height: 1.2em;
}

.features-content-data {
  max-width: 400px;
}

.features-content p {
  line-height: 1.5em;
  font-size: 1.3em;
  margin-top: 1em;
}

.features-progress-top-arrow {
  position: absolute;
  top: 30px;
  right: -118px;
  background: url(/images/handdrawn-arrow.svg) no-repeat;
  width: 112px;
  background-size: contain;
  height: 56px;
  transform: rotate(-45deg);
}

.features-progress-top-oval {
  position: absolute;
  top: 126px;
  right: 46px;
  background: url(/images/oval.svg) no-repeat;
  width: 105px;
  height: 56px;
  transform: rotate(-11deg);
  background-size: contain;
}

.features-progress-top-hint {
  position: absolute;
  top: 20px;
  right: -385px;
  font-size: 2.5em;
  color: #c53030;
  font-family: Dancing Script, cursive;
}

.features-progress-bottom-arrow {
  position: absolute;
  bottom: -50px;
  right: -28px;
  background: url(/images/handdrawn-arrow.svg) no-repeat;
  width: 112px;
  background-size: contain;
  height: 56px;
  transform: rotate(225deg) scale(-1, 1);
}

.features-progress-bottom-oval {
  position: absolute;
  bottom: -8px;
  right: 72px;
  background: url(/images/oval.svg) no-repeat;
  width: 105px;
  height: 56px;
  transform: rotate(-11deg);
  background-size: contain;
}

.features-progress-bottom-hint {
  position: absolute;
  bottom: -50px;
  right: -205px;
  font-size: 2.5em;
  color: #c53030;
  font-family: Dancing Script, cursive;
}

.features-settings-top-arrow {
  position: absolute;
  top: 37px;
  left: -119px;
  background: url(/images/handdrawn-arrow.svg) no-repeat;
  width: 112px;
  background-size: contain;
  height: 56px;
  transform: rotate(37deg) scale(-1, 1);
}

.features-settings-top-oval {
  position: absolute;
  top: 105px;
  left: -17px;
  background: url(/images/oval.svg) no-repeat;
  width: 105px;
  height: 56px;
  transform: rotate(-11deg);
  background-size: contain;
}

.features-settings-top-hint {
  position: absolute;
  top: 31px;
  left: -305px;
  font-size: 2.5em;
  color: #c53030;
  font-family: Dancing Script, cursive;
}

.final {
  max-width: 800px;
  padding: 24px;
  margin: 0 auto;
}

.final-cta {
  text-align: center;
}

.final-cta-button {
  color: #fff;
  padding: 0.5em 1em;
  font-weight: bold;
  border: 1px solid #2f855a;
  border-radius: 0.25rem;
  background-color: #48bb78;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
}

.final-text {
  margin-top: 3em;
}

.footer-wave {
  background-image: url(/images/desktop-wave-footer.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 9%;
  width: 100%;
}

.footer-wrapper {
  background-color: #fafafa;
}

.footer-wrapper-content {
  display: flex;
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.footer-left {
  align-items: center;
  display: flex;
}

a.footer-logo {
  color: #1a202c;
  text-decoration: none;
}

.footer-logo img {
  width: 4em;
  height: 4em;
  vertical-align: middle;
}

.footer-logo span {
  display: inline;
  font-size: 2em;
  font-weight: bold;
  font-family: Poppins;
  color: #1a202c;
  vertical-align: middle;
  margin-left: 8px;
  line-height: 2em;
}

.footer-right {
  flex: 1;
}

footer nav {
  padding: 48px 12px;
  text-align: right;
  display: flex;
  align-items: center;
}

.footer-menu {
  flex: 1;
  padding-right: 1.5em;
}

footer nav ul,
footer nav li {
  display: inline-block;
}

footer nav li {
  margin: 0 16px;
}

.footer-social,
.footer-social li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

.footer-social li {
  margin: 0;
}

.footer-social a span {
  visibility: hidden;
}

@media (max-width: 780px) {
  .top-nav {
    text-align: left;
    padding: 24px 12px;
  }

  .top-nav-menu {
    padding-right: 0;
  }

  .hero {
    padding: 0;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-content {
    flex: 5;
    padding: 12px 24px;
  }

  .content-cta-row-bottom {
    font-size: 1.5em;
  }

  .hero-video {
    padding-top: 4em;
  }

  .hero-title h1 {
    font-size: 3em;
  }

  .hero-title img {
    width: 6em;
    height: 6em;
  }

  .features {
    font-size: 12px;
  }

  .features h2 {
    padding-bottom: 0;
  }

  .features-right,
  .features-left {
    flex-direction: column;
  }

  .features-image {
    margin-top: 2em;
    text-align: center;
  }

  .features-left .features-image {
    text-align: center;
  }

  .features-content {
    padding-top: 0;
  }

  .features-progress-top-arrow {
    top: 100px;
    left: 94px;
    right: auto;
    width: 43px;
    background-size: contain;
    height: 21px;
    transform: rotate(50deg) scaleX(-1);
  }

  .features-progress-top-hint {
    top: 89px;
    left: -26px;
    right: auto;
    font-size: 1.5em;
  }

  .features-progress-bottom-arrow {
    right: 107px;
    width: 60px;
    bottom: -49px;
    left: auto;
    height: 30px;
    transform: rotate(240deg) scaleX(-1);
  }

  .features-progress-bottom-hint {
    bottom: -57px;
    left: 150px;
    right: auto;
    font-size: 2em;
  }

  .features-settings-top-arrow {
    top: 170px;
    left: 60px;
    width: 62px;
    height: 33px;
    transform: rotate(244deg) scale(-1, 1);
  }

  .features-settings-top-hint {
    top: 200px;
    left: 120px;
    font-size: 2em;
  }

  .footer-wrapper-content {
    flex-direction: column;
    padding: 24px 24px 0;
  }

  footer nav {
    text-align: left;
    padding: 24px 0;
    line-height: 2em;
  }

  .footer-menu {
    padding-right: 0;
  }
}
/* purgecss end ignore */
