/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Regular.devanagari.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Regular.latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Regular.latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Poppins Italic */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Italic.devanagari.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Italic.latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Italic.latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Poppins Semi Bold */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBold.devanagari.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBold.latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBold.latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Poppins Semi Bold Italic */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBoldItalic.devanagari.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBoldItalic.latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBoldItalic.latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"), url(/fonts/Poppins-Bold.devanagari.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"), url(/fonts/Poppins-Bold.latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"), url(/fonts/Poppins-Bold.latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Poppins Bold Italic */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("Poppins"), url(/fonts/Poppins-BoldItalic.devanagari.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("Poppins"), url(/fonts/Poppins-BoldItalic.latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("Poppins"), url(/fonts/Poppins-BoldItalic.latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(/fonts/iosevka-regular.woff2) format("woff2");
}
