/* purgecss start ignore */
@import "~uplot/dist/uPlot.min.css";

@tailwind base;
@tailwind components;

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/hint/show-hint.css";

.CodeMirror {
  font-size: 16px;
}

.CodeMirror-hints {
  z-index: 100;
}

.cm-state {
  color: darkblue;
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(/fonts/iosevka-regular.woff2) format("woff2");
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  font-family: "Iosevka Web";
}

/* purgecss end ignore */

@tailwind utilities;
