/* purgecss start ignore */
@import "~uplot/dist/uPlot.min.css";

@tailwind base;
@tailwind components;

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/hint/show-hint.css";
@import "~prismjs/themes/prism.css";
@import "fonts.css";

body {
  font-size: 14px;
  background: white;
  color: #171718;
}

.safe-area-inset-top {
  padding-top: env(safe-area-inset-top, 0.5rem);
}

.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0.5rem);
}

.stop-scrolling {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.has-shadow {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
}

.CodeMirror {
  font-size: 16px;
}

.CodeMirror-hints {
  z-index: 100;
}

.cm-state {
  color: darkblue;
}

.code.block,
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  font-family: "Iosevka Web" !important;
}

.program-description a {
  color: #2b6cb0;
  text-decoration: underline;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.muscle {
  width: 100%;
}

.is-edit-mode {
  animation: wiggle 0.25s infinite;
}

input[type="checkbox"].checkbox {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  /* Not removed via appearance */
  margin: 0;

  width: 1.25em;
  height: 1.25em;
  border: 2px solid;
  border-radius: 100px;
  transition: 120ms background-color linear;
  background-color: white;
  display: inline-block;
  place-content: center;
  position: relative;
  font: inherit;
}

input[type="checkbox"].checkbox:checked {
  background-color: #28839f;
}

input[type="checkbox"].checkbox::before {
  content: " ";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.32em;
  margin-top: -0.32em;
}

input[type="checkbox"].checkbox:checked::before {
  transform: scale(1);
  background-color: white;
}

input[type="checkbox"].checkbox:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"].checkbox:disabled {
  color: #8b9bab;
  cursor: not-allowed;
}

.shiny-border {
  border-radius: 3px;
  position: relative;
}

.shiny-border > * {
  position: relative;
  z-index: 1;
}

.shiny-border::before,
.shiny-border::after {
  content: "";
  z-index: 0;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 300%;
  animation: shiny-border 8s linear infinite;
}

.shiny-border::after {
  filter: blur(10px);
  will-change: filter;
}

.whatsnew li {
  margin-bottom: 0.5rem;
}

@keyframes shiny-border {
  0%,
  100% {
    background-position: 0;
  }

  50% {
    background-position: 300%;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* purgecss end ignore */

@tailwind utilities;
