@import "tailwindcss";
@import "../theme.generated.css";

@custom-variant light (&:where(.light, .light *, :not(.dark, .dark *)));
@custom-variant dark (&:where(.dark, .dark *));

@import "./fonts.css";

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Poppins, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
}
