/* purgecss start ignore */

@import "fonts.css";

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Poppins, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
}

.tok-variableName {
  color: #171718;
  font-weight: bold;
}

.tok-keyword {
  color: #708;
}

.tok-literal {
  color: #164;
}

.tok-meta {
  color: #6f6e24;
}

.tok-comment {
  color: #8b9bab;
}

.tok-atom {
  color: #940;
}

.tok-propertyName {
  color: #8b9bab;
}

.tok-attributeName {
  color: #940;
}

.tok-attributeValue {
  color: #28839f;
}

.tok-number {
  color: #164;
}

.tok-string {
  color: #28839f;
}

/* purgecss end ignore */
