/* purgecss start ignore */

@import "fonts.css";

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Poppins, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
}

.planner-editor-view .cm-editor .cm-tooltip {
  border: 1px solid #bac4cd;
  background: white;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
}

.planner-editor-view .cm-editor .cm-tooltip-autocomplete ul {
  border: none;
  color: #171718;
  font-family: Poppins, sans-serif;
  max-height: 25rem;
}

.planner-editor-view .cm-editor .cm-tooltip-autocomplete ul li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.planner-editor-view .cm-editor .cm-tooltip-autocomplete ul li[aria-selected] {
  background: #e9ecef;
  color: #171718;
}

.planner-editor-view .cm-editor .cm-tooltip-autocomplete img {
  display: inline-block;
  width: 2rem;
  margin: 0 0.5rem;
  object-fit: contain;
}

.planner-editor-view .cm-editor .cm-tooltip-autocomplete .cm-completionIcon,
.planner-editor-view .cm-editor .cm-tooltip-autocomplete .cm-completionLabel {
  display: none;
}

.planner-editor-view .cm-editor {
  height: auto;
  min-height: 6rem;
  font-size: 22px;
}

.exercise-completion-title {
  font-size: 1rem;
}

.exercise-default-image {
  width: 2rem;
  height: 2rem;
}

.exercise-completion-description-info {
  font-size: 0.75rem;
}

.exercise-completion-description-info-label {
  color: #607284;
}

.exercise-completion-description-info-data {
  font-weight: bold;
}

.exercise-default-image {
  margin: 0 0.5rem;
}

/* purgecss end ignore */
