/* purgecss start ignore */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
}

.program-details-exercise-switch {
  display: none;
}

@media (max-width: 600px) {
  .program-details-exercise-switch {
    display: block;
  }
  .program-details-exercise.is-details .program-details-exercise-playground,
  .program-details-exercise.is-playground .program-details-exercise-image,
  .program-details-exercise.is-playground .program-details-exercise-content {
    display: none;
  }
}

/* purgecss end ignore */
