/* purgecss start ignore */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
}

/* purgecss end ignore */
