/* purgecss start ignore */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.55em;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
}

.record-graph {
  width: 25em;
}

@media (max-width: 640px) {
  .record-graph {
    width: 100%;
  }
}

/* purgecss end ignore */
